/* tablette + desktop */
.calc-container {
  position: relative;
  z-index: 1000;
  user-select: none;
  display: grid;
  width: 100%;
  transition: transform 300ms ease-in-out;
  grid-area: calc-container;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas:
    "reset pi seven eight nine div paro"
    "hist prct four five six times parc"
    "conv xy one two three minus mode"
    "sales rand zero dot del plus equal";
}

.switch-mode {
  position: relative;
}

.power-switch {
  width: 50px;
  margin: 0 auto;
  /* height: 91px; */
  height: 156px;
  position: relative;
  top: -20%;
  transform: translateX(-50%);
}
.power-switch .button {
  width: 100%;
  height: 100%;
}
.power-switch .button .power-on,
.power-switch .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: var(--red);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.power-switch .button .power-on .line,
.power-switch .button .power-off .line {
  opacity: 0.4;
}
.power-switch .button .power-on .circle,
.power-switch .button .power-off .circle {
  opacity: 0.4;
  transform: rotate(-58deg);
  transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.power-switch .button .power-on .line {
  opacity: 0;
  transition: opacity 0.3s ease 1s;
}
.power-switch .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
}
.power-switch input {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.power-switch input:checked + .button:after {
  opacity: 0.15;
  transform: scale(2) perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.power-switch input:checked + .button .power-on,
.power-switch input:checked + .button .power-off {
  -webkit-animation: click-animation 0.3s ease forwards;
  animation: click-animation 0.3s ease forwards;
  transform: scale(1);
}
.power-switch input:checked + .button .power-on .line,
.power-switch input:checked + .button .power-off .line {
  -webkit-animation: line-animation 0.8s ease-in forwards;
  animation: line-animation 0.8s ease-in forwards;
}
.power-switch input:checked + .button .power-on .circle,
.power-switch input:checked + .button .power-off .circle {
  transform: rotate(302deg);
}
.power-switch input:checked + .button .power-on .line {
  opacity: 1;
  transition: opacity 0.05s ease-in 0.55s;
}
.power-switch input:checked + .button .power-on .circle {
  transform: rotate(302deg);
  stroke-dashoffset: 40;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
}

@-webkit-keyframes line-animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-25px);
  }
  85% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes line-animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-25px);
  }
  85% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#reset {
  grid-area: reset;
}
#mode {
  grid-area: mode;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
#prct {
  grid-area: prct;
}
#div {
  grid-area: div;
}
#hist {
  grid-area: hist;
}
#conv {
  grid-area: conv;
}
#sales {
  grid-area: sales;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
#times {
  grid-area: times;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
#minus {
  grid-area: minus;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
#plus {
  grid-area: plus;
}
#zero {
  grid-area: zero;
}
.dot {
  grid-area: dot;
}
#del {
  grid-area: del;
}
#equal {
  grid-area: equal;
  z-index: 1000;
  width: 90%;
  height: 90%;
  margin: auto;
}
#conv {
  grid-area: conv;
}
#sales {
  grid-area: sales;
}
#pi {
  grid-area: pi;
}
#xy {
  grid-area: xy;
}
#rand {
  grid-area: rand;
}
#paro {
  grid-area: paro;
}
#parc {
  grid-area: parc;
}

#hidden {
  display: none;
  background: transparent;
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100px;
}
